@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');
:root {
	--primary: rgba(37, 37, 37, 1.0);
	--secondary: rgba(252, 41, 74, 1.0);
	--shades: rgba(238, 238, 238, 1.0);
}

* {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', monospace;
	line-height: 1.6;
	margin: 0;
}

.header,
.home,
.photogallery,
.photogallery2{
	min-height: 100vh;
}


.header,
.home,
.about,
.photogallery,
.photogallery2,
.footer {
	position: relative;
	padding-top:5%;
	padding-bottom: 5%;
}

.home h1,
.about h1,
.photogallery h1,
.photogallery2 h1,
.footer h1 {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 50px;
}

.header h1{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

/*
.header h1::before,
.home h1::before,
.about h1::before,
.photogallery h1::before,
.footer h1::before {
	content: '#';
}
*/
.header h1
{
	color: var(--shades);
}



.header {
	background-image: url('images/background.jpg');
 	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;
	background-color: var(--primary);
	
}
@media (max-width: 700px) {
	.header {
		display: none;
	}
}

.navbar {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: var(--primary);
	-webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 99;
}

.hidden {
	display: none;
}

.display__logo {
	font-size: 2.5rem;
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}
#about,
#firstfloor,
#groundfloor,
#contact
{
	scroll-margin-top: 250px;

}

.nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__link {
	color: var(--shades);
	text-decoration: none;
}

.brand {
	margin: 0;
	font-size: 1.45em;
}

.brand a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.logo {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	line-height: inherit;
}

.logo::before {
	display: inline-block;
	vertical-align: top;
	content: url("images/menulogo.png");
}

.nav__items {
	margin-top: 5px;

}

.brand .nav__link,
.nav__items .nav__link {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.nav__items .nav__link {
	color: var(--shades);
	font-size: 0.99rem;
}

.nav__items .nav__link:hover {
	color: var(--secondary);
}

/*.nav__item:nth-child(1) .nav__link::before {
	content: '1. ';
}

.nav__item:nth-child(2) .nav__link::before {
	content: '2. ';
}

.nav__item:nth-child(3) .nav__link::before {
	content: '3. ';
}

.nav__item:nth-child(4) .nav__link::before {
	content: '4. ';
}*/

@media (min-width: 800px) {

	.navbar,
	.nav__items {
		display: flex;
	}

	.navbar {
		flex-direction: column;
		align-items: center;
	}

	.navbar {
		flex-direction: row;
		justify-content: space-between;
	}
}



@media screen and (max-width: 799px) {
	.nav {
		display:none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-color: var(--primary);
		opacity: 0;
		transition: all 0.2s ease;
		
	}

	.nav .nav__items {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		padding-inline-start: 0;
	}

	.nav .nav__items .nav__item {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}

	.nav .nav__items .nav__item:nth-child(1) a {
		transition-delay: 0.2s;
	}

	.nav .nav__items .nav__item:nth-child(2) a {
		transition-delay: 0.3s;
	}

	.nav .nav__items .nav__item:nth-child(3) a {
		transition-delay: 0.4s;
	}

	.nav .nav__items .nav__item:nth-child(4) a {
		transition-delay: 0.5s;
	}

	.nav .nav__items .nav__item:not(:first-child) {
		margin-left: 0;
	}

	.nav .nav__items .nav__item .nav__link {
		padding: 10px 25px;
		opacity: 0;
		color: var(--shades);
		font-size: 24px;
		font-weight: 600;
		transform: translateY(-20px);
		transition: all 0.2s ease;
	}

	.nav .nav__items .nav__item .nav__link:hover {
		color: var(--secondary);
	}

	.nav__open {
		position: absolute;
		right: 10px;
		top: 16px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}

	.nav__open i {
		display: block;
		width: 20px;
		height: 2px;
		background-color: var(--secondary);
		border-radius: 2px;
		margin-left: 14px;
	}

	.nav__open i:nth-child(1) {
		margin-top: 16px;
	}

	.nav__open i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.nav__open i:nth-child(3) {
		margin-top: 4px;
	}

}


#nav:checked+.nav__open {
	transform: rotate(45deg);
}

#nav:checked+.nav__open i {
	background-color: var(--shades);
	transition: transform 0.2s ease;
}

#nav:checked+.nav__open i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav__open i:nth-child(2) {
	opacity: 0;
}

#nav:checked~.nav__item a {
	display: block !important;
}

#nav:checked+.nav__open i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav {
	z-index: 9990;
	opacity: 1;
	display:block;
}

#nav:checked~.nav ul li a {
	opacity: 1;
	transform: translateY(0);
}


/* Mine*/

.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	

}
.gallery{
	padding-top:100px;
	padding-bottom:100px;
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 30px;

}
.gallery img {
	width:100%;
	object-fit: cover;
	aspect-ratio: 1;


}

.titlos{
	font-size:20px;
	font:bold;
	font-weight: 400;
	
}
.epigrafh{
	font-size:15px;
	margin-bottom: 20px;
	
}
.about{
	min-height: 20vh;
	padding:100px 0;
}
.about .containerabout{
	max-width:1170px;
    margin:auto;
	
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width:25%;
    padding:0 15px;
}
ul{
    padding-inline-start:0px;
    list-style:none;
}
@media(max-width:767px){
    .col{
        width:50%;
        margin-bottom:30px;
        padding-left:20px;
    }
}
@media(max-width:574px){
    .col{
        width:100%;
        padding-left:20px;
       
      
    }
}

svg{
	height: 20px;
	overflow-clip-margin:content-box;
	overflow:hidden;
	margin-right: 5px;
}
.section-two{
    min-height: 70vh;
    background: fff;
	max-width: 100%;
	
    
}
.section-two h2{
	font-size: 40px;
}
.section-two p{
	font-size:20px;
}

.divededsection{
    padding-top:50px;
	max-width: 100%;
	
}
.resize-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 220px){
    .resize-container {
        max-width: 120px;
    }
}
@media (min-width: 300px){
    .resize-container {
        max-width: 280px;
    }
}
@media (min-width: 410px){
    .resize-container {
        max-width: 350px;
    }
}
@media (min-width: 576px){
    .resize-container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .resize-container {
        max-width: 720px;
   }
   }
@media (min-width:992px){
    .resize-container {
        max-width: 960px;
    }
    }

@media (min-width: 1200px){
    .resize-container {
        max-width: 1140px;
    }
    }

.h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.h2 h2{
	font-size: 30px;
	font-weight: 700;
}
.text-img-container2,
.text-img-container{
	padding-bottom:50px;
    display: flex;
    flex-wrap: wrap;
	
   
}
.text-img-container2 .img-container,
.text-img-container .img-container{
	width: 45%;
	
	
}
.text-img-container2 .img-container img,
.text-img-container .img-container img{
	width:100%;
    height: 100%;
	
	
	
}

.text-info{
	width: 40%;
    padding:0px 30px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.text-info2{
padding: 0px 30px;
padding-bottom: 50px;
}
@media(max-width:800px){
    .section-two{
        
        padding: 0;
        margin-bottom:50px;
        width:100%;
        
    }
    .text-img-container{
		
        flex-direction: column;
		
        padding-bottom:30px;
        padding-right: 10px;
        padding-left: 10px;
       
       
    
    }
	.text-img-container2{
		
        flex-direction: column-reverse;
	}
    .text-info{
        padding:40px 20px;
        width: 100%;
		
        
}
.text-img-container2 .img-container,
.text-img-container .img-container{
    padding-top:40px;
    width: 100%;
}

}
/* Footer */
.footer{
    min-height: 30vh;
    background: var(--primary);
    padding:70px 100px;
}
.footer-container{
    max-width:1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
	width:40%;
    padding:0 15px;
}
.footer ul{
    list-style:none;
	padding:0;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500 ;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: lightblue;
    height:2px;
    box-sizing:border-box;
    width:50px;
}
.footer-col ul li:not(:nth-last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color:#fff;
    display:block;
    transition: all 0.3s ease ;

}
.footer-col ul li a:hover{
    color:var(--secondary);;
    padding-left:8px;
}
.footer-col .social-links a{
    display: inline-block;
    height:40px;
    width: 40px;
    background-color:rgba(255, 255, 255, 0.2);
    margin-right:0 10px 10px 0;
    text-align:center;
    line-height:40px;
    border-radius: 50%;
    color:#fff;
    transition: all 0.5 ease;

}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color:#fff ;
}
@media(max-width:767px){
    .footer-col{
        width:50%;
        margin-bottom:30px;
        padding-left:20px;
    }
}
@media(max-width:574px){
    .footer-col{
        width:100%;
        padding-left:20px;
       
      
    }
}

.section-two ul{
	font-size:18px;
	list-style-type:circle;
	padding-left:18px;
}
/* Contact */

.contact-section{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background: #fff;
}
.contactUs{
	position: relative;
	
	padding: 40px 100px;
}
.contactUs .title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:2em;

}
.contactUs .title h2{
	color:fff;
	font-weight: 500;

}
.form{
	grid-area:form;
}
.info{
	grid-area:info;
}
.map{
	grid-area:map;
}
.contact{
	padding: 40px;
	background: #fff;
	box-shadow:0 5px 35px rgba(0,0,0,0.15);
}
.box{
	position: relative;
	display:grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 5fr 4fr;
	grid-template-areas: 
	"form info"
	'form map';
	grid-gap:20px;
	margin-top:20px;
}
.contact h3{
	color:#0e3959;
	font-weight: 500;
	font-size: 1.4em;
	margin-bottom: 10px;
}
/* form */
.formBox{
	position: relative;
	width: 100%;	
}
.formBox .row50{
	display: flex;
	gap:20px;
}
.inputBox{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 50%;
}
.formBox .row100 .inputBox{
	width: 100%;

}
.inputBox span{
	color:#000;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}
.inputBox input{
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border:1px solid #333;
}
.inputBox textarea{
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border:1px solid #333;
	resize:none;
	min-height:220px;
	margin-bottom: 10px;

}
.inputBox input[type="sumbit"]{
	background: var(--primary);
	color:#fff;
	border:none;
	font-size:1.1em;
	max-width: 120px;
	font-weight: 500;
	cursor: pointer;
	padding: 14px 15px;
	text-align: center;

}
.inputBox ::placeholder{
	color:#999
}
/* Info */
.info{
	background: var(--primary);

}
.info h3{
	color: #fff;
}
.info .infoBox div{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.info .infoBox div span{
	min-width:40px;
	height: 40px;
	color:#fff;
	background: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:1.5em;
	border-radius: 50%;
	margin-right: 15px;
}
.info .infoBox div p{
	color:#fff;
	font-size:1.1em;

}
.info .infoBox div a{
	color:#fff;
	text-decoration: none;
	font-size:1.1em;
}
.sci{
	margin-top:40px;
	display: flex;
}
.sci li{
	list-style: none;
	margin-right: 15px;
}
.sci li a{
	color:#fff;
	font-size: 2em;
	color:#ccc;
}
.sci li a:hover{
	color:#fff ;
}
.map{
	padding: 0;
}
.map iframe{
	width: 100%;
	height: 100%;

}
/* responsive contact */
@media(max-width:991px){
	.contact-section{
		background:#fff;
	}
	.contactUs{
		padding:20px;
	}
	.box{

		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
		"form"
		'info'
		'map';

	}
	
	.formBox .row50{
		display:flex;
		gap:0;
		flex-direction: column;
	}
	.inputBox{
		width: 100%;
	}
	.contact{
		padding:30px;
	}
	.map{
		min-height: 300px;
		padding: 0;
	}
}
